body {
  background-color: #f2f2f2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-img-top {
  width: 100px;
}

.card {
  flex-direction: column;
  display: inline-block;
  display: flex;
  justify-content: center;
  border: 5px solid #e2f26b;
  align-items: center;
  text-align: center;
  margin: 20px;

}

h1 {
  font-size: 20px;
  color: #A79BF2;
  background-color: #f2f2f2;
}
